{% extends 'base.html' %}

{% block content %}
    <section class="container">
        <div class="row">
            {% if error %}
                <div class="col-12">
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                </div>
            {% endif %}
            <div class="col-12">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Github ID</span>
                        </div>
                        <input type="text" name="id" class="form-control input-group" maxlength="100" required="" id="id">
                    </div>
                    <input class="btn btn-primary" type="submit" value="등록하기">
                </form>
            </div>
        </div>
    </section>
{% endblock %}