{% extends 'base.html' %}

{% block content %}
    <div class="alert alert-secondary" role="alert">
        <p>2기 1차 피신 정보</p>
        마지막 업데이트 : {{ piscine_ft_users.first.updated_at|date:"Y-m-d H:i:s" }}
    </div>
    {% if sort_value == '레벨' %}
        <a href="{% url "piscine_list" %}" class="btn btn-primary btn-lg btn-block">피어 평가 횟수로 보기</a>
    {% else %}
        <a href="{% url "piscine_list" %}?value=level" class="btn btn-primary btn-lg btn-block">레벨 기준으로 보기</a>
    {% endif %}
    <table class="table mt-3">
        <thead class="thead-dark">
            <tr>
                <th scope="col">순위</th>
                <th scope="col">이름</th>
                <th scope="col">{{ sort_value }}</th>
{#                <th scope="col">합불</th>#}
            </tr>
        </thead>
        <tbody>
            {% for piscine_ft_user in piscine_ft_users %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="https://profile.intra.42.fr/users/{{ piscine_ft_user.login }}">{{ piscine_ft_user.login }}</a></td>
                    {% if sort_value == '레벨' %}
                        <td>{{ piscine_ft_user.piscine_level }}</td>
                    {% else %}
                        <td>{{ piscine_ft_user.peer_count }}</td>
                    {% endif %}
{#                    {% if piscine_ft_user.is_pass == True %}#}
{#                        <td style="color: blue">합</td>#}
{#                    {% else %}#}
{#                        <td style="color: red">불</td>#}
{#                    {% endif %}#}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}