{% extends 'base.html' %}

{% block content %}
    <div class="row h-100">
        <div class="col-12 my-auto">
            <p class="display-4">피신 랭킹 서비스 중단 안내</p>
            <p>Rank42에서 1기 2차 3주 차 때쯤부터 피신 랭킹이라는 기능을 제공하기 시작했습니다. Rank42에 존재하는 모든 기능은 본 과정생들을 위한 기능이었기에, 피신 랭킹 또한 "latte is horse..."라는 느낌으로 피시너들이 수영장에서 잘 놀고 있는지 구경하는 의도로 만들어졌습니다! 주제넘게 피시너들을 평가하거나 피시너들에게 영향을 줄 만한 정보를 제공하자는 의도는 아니었습니다.</p>
            <p>하지만, Rank42 자체가 피시너들에게 알려지면서 기존에 의도했던 방향과는 다르게 상당히 피시너들에게 영향을 주는 지표로 변하게 되었습니다. 실제로 주변에서 저에게 관련 기능에 대한 피시너들의 피드백을 알려주셨고, 문제점이 존재한다고 생각하고 있었습니다. 이와 관련하여 여러 가지 개선 방향에 대해서 생각해보고 많은 의견을 들었지만, 당장은 서비스를 내리는 게 더 좋은 방향이라고 생각해서 당분간은 Rank42에서 피신 랭킹은 제공되지 않습니다!</p>
            <p>저의 미흡한 기획과 결과물로 인해 어떠한 방식으로든 피해를 보신 분들에게 심심한 사과를 드립니다.</p>
            <h3>레벨에 너무 연연하지 마세요. 피신에서 할 수 있는 일은 무궁무진합니다! 마지막까지 화이팅입니다!!</h3>
        </div>
    </div>
{% endblock %}