{% extends 'base.html' %}

{% block content %}
    <div class="alert alert-secondary" role="alert">
        마지막 업데이트 : {{ piscine_ft_users.first.updated_at|date:"Y-m-d H:i:s" }}
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">순위</th>
                <th scope="col">이름</th>
                <th scope="col">레벨</th>
            </tr>
        </thead>
        <tbody>
            {% for piscine_ft_user in piscine_ft_users %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="https://profile.intra.42.fr/users/{{ piscine_ft_user.login }}">{{ piscine_ft_user.login }}</a></td>
                    <td>{{ piscine_ft_user.piscine_level }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}