{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card text-center">
                <h4 class="card-header">
                    {{ club.name }}
                </h4>
                <div class="card-body">
                    <h5 class="card-title">소모임장 : {{ club.master.login }}</h5>
                    <p class="card-text">{{ club.content }}</p>
                    {% if not am_i_member and not am_i_master %}
                        <a href="{{ club.get_absolute_url }}join/" class="btn btn-primary">가입하기</a>
                    {% endif %}
                    {% if am_i_master %}
                        <a href="{{ club.get_absolute_url }}manage/" class="btn btn-warning">관리하기</a>
                    {% endif %}
                </div>
                <div class="card-footer text-muted">
                    멤버 :
                    {% if member_list %}
                        {% for member in member_list %}
                            <span>{{ member.user.login }}, </span>
                        {% endfor %}
                    {% else %}
                        <span>아직 멤버가 없습니다! 첫번째 멤버가 되어보세요!</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}