{% extends 'base.html' %}

{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-12">
                <h1>가입중</h1>
                {% for member in mypage.joining %}
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ member.club.name }}</h5>
                                <a href="{{ member.club.get_absolute_url }}" class="btn btn-primary">자세히 보기</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-12">
                <h1>가입대기</h1>
                {% for member in mypage.waiting %}
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ member.club.name }}</h5>
                                <a href="{{ member.club.get_absolute_url }}" class="btn btn-primary">자세히 보기</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}