{% extends 'base.html' %}

{% block content %}
    <div class="row h-100">
        <div class="col-12 my-auto">
            <p class="display-1">Rank42</p>
            <form action="">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="login" placeholder="인트라 아이디를 입력하세요" aria-label="인트라 아이디를 입력하세요" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">검색</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}