{% extends 'base.html' %}

{% block content %}
    <div class="row m-4">
        <div class="col-12 text-center">
            <span class="h1">{{ ft_user.login }}</span>
            <a href="https://profile.intra.42.fr/users/{{ ft_user.login }}">
                <button type="button" class="btn btn-outline-primary btn-sm">Intra</button>
            </a>
        </div>
        <div class="col-12 text-center">
            {% if not ft_user.next_tier_name == -1 and not ft_user.next_tier_point == -1 %}
                <p>랭킹 <span style="color: blue; font-weight: bold;">{{ ft_user.tier.tier_rank }}</span>위 (상위{{ ft_user.percent }}%)</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            {% if ft_user.next_tier_name == 0 and ft_user.next_tier_point == 0 %}
                <div class="jumbotron">
                    <div class="container">
                        <p>현재 <span class="h2" style="color:blue;">가장 높은 티어</span>입니다!</p>
                        <p><span class="h2" style="color:red;">멋지네요!</span></p>
                    </div>
                </div>
            {% elif ft_user.next_tier_name == -1 and ft_user.next_tier_point == -1 %}
                <div class="jumbotron">
                    <div class="container">
                        <p>현재 포인트가 <span class="h2" style="color:blue;">0점</span>입니다!</p>
                        <p><span class="h2" style="color:red;">포인트가 생기면 티어를 부여받습니다!</span></p>
                    </div>
                </div>
            {% else %}
                <div class="jumbotron">
                    <div class="container">
                        <p>다음 티어는 <span class="h2" style="color:blue;">{{ ft_user.next_tier_name }}</span>입니다!</p>
                        <p><span class="h2" style="color:red;">{{ ft_user.next_tier_point }}점</span>만 더 올려보세요!</p>
                        <p>피어 평가를 <span class="h4" style="color:blue;">{{ ft_user.need_peer_evaluation }}번</span> 정도만 하면 가능합니다!</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <button type="button" class="btn btn-primary btn-lg btn-block">점수 갱신</button>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-secondary btn-lg btn-block">티어 그래프</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card mt-4">
                <div class="row no-gutters">
                    <div class="col-md-2 col-4">
                        <img src="{{ ft_user.tier_img }}" class="card-img">
                    </div>
                    <div class="col-md-10 col-8">
                        <div class="card-body">
                            <h5 class="card-title" style="color: blue;">{{ ft_user.tier.tier_name }}</h5>
                            <p class="card-text">{{ ft_user.tier.coalition_point }}점</p>
                            <p class="card-text"><small class="text-muted">점수 마지막 업데이트 분전</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}